[submodule "yasm"]
	path = yasm
	url = git://github.com/olsner/yasm.git
[submodule "acpica"]
	path = acpica
	url = git://github.com/olsner/acpica.git
[submodule "lwip"]
	path = lwip
	url = git://github.com/olsner/lwip.git
